.banner {
    background: url('../../imagenes/banner/banner.jpg') no-repeat center / cover;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .banner {
        height: 20vh;
    }
}

@media screen and (min-width: 1080px) {
    .banner {
        height: 20vh;
        padding: 2rem;
    }

    .banner__container {
        width: 67.5rem;
        align-self: center;
    }
}