.formulario__titulo {
    width: auto;
    height: 1.25rem;
    position: absolute;
    top: 0.9rem;
    left: 0.97rem;
    margin-bottom: 0.25rem;

    /*Estilo del texto*/
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #A2A2A2;
    transition: all .5s ease-out;
}

.formulario__titulo.focus {
    transition: all .5s ease-in-out;
    width: auto;
    height: 1.25rem;
    position: absolute;
    top: 0.2rem;
    left: 0.3rem;
    border-top-left-radius: 0.5rem;
    margin-bottom: 0.25rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #302b63;
}