.cabecera__right {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
}

@media screen and (min-width: 1080px) {
    .cabecera__right {
        order: 4;
    }
}