.cabecera__search {
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.cabecera__search-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    background-color: white;
    border-radius: 2rem;
}

@media screen and (min-width: 1080px) {
    .cabecera__search {
        width: 50%;
        align-self: center;
        height: 60%;
        margin-bottom: 0;
    }

    .cabecera__search-container {
        width: 100%;
    }
}