.category {
    display: flex;
    flex-direction: column;
}

.category__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}

@media screen and (min-width: 768px) {
    .category__body {
        padding: 1rem 2rem 0 2rem;
    }
}