.category__link {
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1rem;

    background: -webkit-linear-gradient(#c31432, #240b36);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}